.body {
  padding: 5% 15% 5% 15%;
}

.halfimg {
  width: 40%;
}

.img {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.smallimg {
  width: 40%;
  padding-bottom: 5%;
}

.interest1 {
  width: 20%;
  text-align: center;
  align-items: center;
}

.smallpadding {
  padding-bottom: 2%;
}

.contactimg {
  width: 30%;
}

.link2 {
  color: #aab284;
  text-decoration: none;
  font-weight: bolder;
}

.contactbkgd {
  position: absolute;
}

.link {
  text-decoration: none;
  color: #aab284;
  font-weight: bolder;
}

.projects {
  padding-bottom: 10%;
}

.contactinfo {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .body {
    padding: 5% !important;
  }
  h2 {
    font-size: 18px !important;
    font-weight: 600 !important;
  }
  h3 {
    font-size: 18px !important;
    font-weight: 600 !important;
  }
  p {
    font-size: 12px !important;
    line-height: 3.5vw !important;
  }
  .halfimg {
    display: none;
  }
  .interests {
    padding: 0 !important;
  }
  .interest1 {
    width: 30% !important;
  }

  .contactimg {
    display: none !important;
  }
  .contacttext {
    width: 80% !important;
    gap: 10px !important;
  }
}
