.card {
    width: 25%;
    height: 150%;
    border-radius: '20px';
    margin: 1%;
    padding-bottom: 2%;
}

.clubcard {
    width: 15%;
    height: 150%;
    border-radius: '20px';
    margin: 1%;
    padding-bottom: 2%;
}

.actioncard {
    border-radius: '20px';
background-color: white;
padding-bottom: 2%;

}
/* .content {
    height: 150%
} */

.lefttitle {
    font-family: cormorant;
    font-size: 2vw;
    color: #333;
    font-weight:bold;
    line-height: 0.8;
    text-align: center;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.here2left {
    font-family: sans;
    font-size: 1.5vw;
    font-variation-settings: 'wght' 400;
    width: 50%;
    line-height: 1;
    color: #C3B499;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    margin-bottom: 2%;
    padding-bottom: 2%;

}