.title {
    padding-top: 5%;
    text-align: center;
}

.info {
    padding-top: 2%;
    text-align: center;
}

.homeimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 2%;
}

.imgs {
    width: 30%;
}

.img {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
}

.body {
    padding: 7% 0 10% 0
}

.padding {
    padding: 0 15% 3% 15%
}

.smallpadding {
    padding-bottom: 2%;
}

.banner {
    background-color: #E9DDCA;
    padding: 5% 20% 5% 20%;
    text-align: center;
    margin-bottom: 3%;
}

.link {
    text-decoration: none;
    color: #AAB284;
    font-weight:bolder;
}