.cardsDiv {
  padding: 5% 5% 10% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardDiv {
  margin: 2%;
  justify-self: center;
}

.mobileCard {
  width: 225px;
  height: 300px;
  position: relative;
}

.card {
  width: 300px;
  height: 400px;
  position: relative;
}

.imgDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 20px;
}

.overlay {
  color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;
  border-radius: 20px;
}

.title {
  padding: 40px 5px 15px 5px;
  font-weight: bold;
}
